*.d
!ROMFS/*/*.d
!ROMFS/*/*/*.d
!ROMFS/*/*/*/*.d
*.dSYM
*.o
*.pyc
*~
.*.swp
.context
.cproject
.DS_Store
.gdbinit
.project
.settings
.swp
.~lock.*
Archives/*
Build/*
core
cscope.out
Firmware.sublime-workspace
Images/*.bin
Images/*.px4
mavlink/include/mavlink/v0.9/
/nuttx-configs/px4io-v2/src/.depend
/nuttx-configs/px4io-v2/src/Make.dep
/nuttx-configs/px4io-v2/src/libboard.a
/nuttx-configs/px4io-v1/src/.depend
/nuttx-configs/px4io-v1/src/Make.dep
/nuttx-configs/px4io-v1/src/libboard.a
/Documentation/doxy.log
/Documentation/html/
/Documentation/doxygen*objdb*tmp
.tags
tags
.tags_sorted_by_file
.pydevproject
.ropeproject
*.orig
Firmware_feature_autonomous_sailing.config
Firmware_feature_autonomous_sailing.creator
Firmware_feature_autonomous_sailing.creator.user
Firmware_feature_autonomous_sailing.files
Firmware_feature_autonomous_sailing.includes
firmwareAS.config
firmwareAS.creator
firmwareAS.creator.user
firmwareAS.files
firmwareAS.includes
Firmware_AS.config
Firmware_AS.creator
Firmware_AS.creator.user
Firmware_AS.files
Firmware_AS.includes


